Package: raspisms
Version: 2.0
Section: base
Priority: optional
Architecture: all
Depends: apache2, php, php-mysql, php-mbstring, gammu, gammu-smsd, mariadb-server
Maintainer: Raspbian France <raspbianfrance@gmail.com>
Description: Web application for SMS management, sends, planning, order receipt. And providing API.
Homepage: http://raspbian-france.fr
